<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.vuelog.blog.mapper.BlogMapper">

	<select id="read" resultType="kr.co.vuelog.blog.domain.BlogDTO">
		SELECT *
		FROM blog
		WHERE id = #{id}
	</select>
	
	<select id="searchEmail" resultType="kr.co.vuelog.blog.domain.BlogDTO">
		SELECT *
		FROM blog
		WHERE email = #{email}
	</select>
	
	<update id="updateId">
		UPDATE blog
		SET id = #{id}
		WHERE email = #{email}
	</update>
	
	<update id="updateInfo">
		UPDATE blog
		SET bloginfo = #{bloginfo}, blogname = #{blogname}
		WHERE id = #{id}
	</update>
	
	<delete id="delete">
		DELETE FROM blog
		WHERE email = #{email}
	</delete>

</mapper>